@import './utils/variables';
@import './base/main';
@import './components/header';
@import './components/icon';
@import './components/section';
@import './components/center';
@import './components/hero';
@import './components/about';
@import './components/sub-title';
@import './components/title';
@import './components/aside';
@import './components/team';
@import './components/icon-link';
@import './components/icon-img';
@import './components/client';
@import './components/footer';
@import './components/backdrop';
@import './components/modal';
@import './components/control';
@import './components/work';
