.about {
  padding-bottom: 60px;
}

.about__item {
  width: 100%;
  display: inline-block;

  font-size: 14px;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about__img-back {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;

  background-color: getColor(secondary-back);
}

.about__img {
  width: 70px;
  height: 70px;
}

.about__sub-title {
  margin-top: 30px;
  margin-bottom: 10px;

  letter-spacing: 0.03em;
  min-width: 270px;

  text-align: center;
}

@media (min-width: $mobile) {
  .about__item {
    width: 450px;
  }
}

@media (min-width: $tablet) {
  .about {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
  }

  .about__sub-title {
    text-align: start;
  }

  .about__item {
    width: 354px;
    flex-basis: calc(100% / 2 -30px);

    margin-left: 30px;
    margin-top: 30px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--detail::before,
    &--time::before,
    &--plan::before,
    &--tech::before {
      width: 354px;
    }
  }
}

@media (min-width: $desktop) {
  .about {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
  }

  .about__item {
    width: 270px;
    margin-left: 0;
    margin-top: 0;

    &:not(:first-child) {
      margin-left: 30px;
    }

    &--detail::before,
    &--time::before,
    &--plan::before,
    &--tech::before {
      width: 270px;
    }
  }
}
