.center__flex {
  display: flex;
  align-items: center;
}

.center__thumb {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $mobile) {
  .center__thumb {
    width: 480px;
  }
}

@media (min-width: $tablet) {
  .center__thumb {
    width: 768px;
  }
}

@media (min-width: $desktop) {
  .center__thumb {
    width: 1200px;
  }
}
