.client:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  width: 170px;
  height: 92px;
  cursor: pointer;

  border: 1px solid getColor(client-border);
  border-radius: 4px;

  transition: border-color getFunct(duration) getFunct(timing);

  &:hover,
  &:focus {
    border-color: getColor(main-theme);
  }
}

.client__icon {
  width: 106px;
  height: 60px;

  fill: getColor(client-border);

  transition: fill getFunct(duration) getFunct(timing);

  .client__link:hover &,
  .client__link:focus & {
    fill: getColor(main-theme);
  }
}
