.client {
  display: block;
  justify-content: center;
}

.client__item {
  width: 100%;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.client__link {
  width: 100%;
  height: 92px;
  cursor: pointer;

  border: 1px solid getColor(client-border);
  border-radius: 4px;

  transition: border-color getFunct(duration) getFunct(timing);

  &:hover,
  &:focus {
    border-color: getColor(main-theme);
  }
}

.client__icon {
  width: 106px;
  height: 60px;

  fill: getColor(client-border);

  transition: fill getFunct(duration) getFunct(timing);

  .client__link:hover &,
  .client__link:focus & {
    fill: getColor(main-theme);
  }
}

@media (min-width: $mobile) {
  .client {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
  }

  .client__item {
    width: 210px;

    flex-basis: calc(100% / 2 -30px);

    margin-left: 30px;
    margin-top: 30px;
  }

  .client__link {
    width: 210px;
  }
}

@media (min-width: $tablet) {
  .client__item {
    width: 226px;

    flex-basis: calc(100% / 3 -30px);
  }

  .client__link {
    width: 226px;
  }
}

@media (min-width: $desktop) {
  .client {
    display: flex;
    align-items: center;

    margin-left: 0;
    margin-top: 0;
  }
  .client__item {
    width: 170px;
    margin-left: 0;
    margin-top: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .client__link {
    width: 170px;
  }
}
