.footer {
  background-color: getColor(main-back);

  padding-top: 60px;
  padding-bottom: 60px;

  & .center__thumb.center__flex {
    display: flex;
    align-items: baseline;
  }
}

.footer__media {
  margin-left: 70px;
}

.footer__icon {
  color: getColor(third-text);

  margin-bottom: 20px;
}

.footer__item {
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;

  .footer__list &:not(:first-child) {
    margin-top: 9px;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__address {
  color: getColor(third-text);

  transition: color getFunct(duration) getFunct(timing);

  &:hover,
  &:focus {
    color: getColor(main-theme);
  }
}

.footer__contact {
  color: getColor(footer-link);
}

.footer__icon-link {
  background-color: getColor(footer-link-back);

  transition: background-color getFunct(duration) getFunct(timing);

  &:hover,
  &:focus {
    background-color: getColor(main-theme);
  }
}

.footer__icon-img {
  fill: getColor(third-text);

  transition: fill getFunct(duration) getFunct(timing);
}

.footer__subscribe {
  width: 570px;
  margin-left: auto;
}

.footer__form {
  height: 50px;
  min-width: 358px;

  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: getColor(third-text);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: getColor(main-back);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: getColor(footer-link);
  }
}

.footer__button {
  height: 50px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  margin-left: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-color: transparent;
  color: getColor(third-text);
  background-color: getColor(main-theme);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer__button-icon {
  width: 24px;
  height: 24px;

  margin-left: 10px;

  fill: getColor(third-text);
}
