.header {
  border-bottom: 1px solid getColor(work-back);
}
// ..

.header__icon {
  color: getColor(main-text);

  padding-top: 16px;
  padding-bottom: 16px;
}

.header__nav-menu {
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: getColor(third-text);
  border-color: transparent;

  &--icon {
    width: 24px;
    height: 16px;
  }

  &:hover,
  &:focus {
    fill: getColor(main-theme);
  }
}

.header__list {
  display: none;
}

@media (min-width: $tablet) {
  .header__icon {
    margin-right: 93px;

    padding: 0;
  }

  .header__nav-menu {
    display: none;
  }

  .header__list {
    display: flex;

    &--address {
      display: inline;
      margin-left: auto;
    }
  }

  .header__item-address:not(:last-child) {
    margin-bottom: 10px;
  }

  .header__item-nav:not(:last-child) {
    margin-right: 50px;
  }

  .header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    color: getColor(main-text);

    transition: color getFunct(duration) getFunct(timing);

    &:hover,
    &:focus {
      color: getColor(main-theme);
    }

    &--selected {
      position: relative;
      color: getColor(main-theme);
    }

    &--selected::after {
      display: block;
      content: '';
      width: 100%;
      height: 4px;

      border-bottom-width: 4px;
      border-bottom-style: solid;
      border-bottom-color: getColor(main-theme);
      border-radius: 2px;

      position: absolute;
      bottom: 0;
    }
  }

  .header__address {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: getColor(secondary-text);

    transition: color getFunct(duration) getFunct(timing);

    &:hover,
    &:focus {
      color: getColor(main-theme);
    }
  }

  .header__icon-phone {
    width: 10px;
    height: 16px;
    cursor: pointer;

    margin-right: 10px;

    fill: getColor(secondary-text);

    transition: fill getFunct(duration) getFunct(timing);

    .header__address:hover &,
    .header__address:focus & {
      fill: getColor(main-theme);
    }
  }

  .header__icon-mail {
    width: 16px;
    height: 12px;
    cursor: pointer;

    margin-right: 10px;

    fill: getColor(secondary-text);

    transition: fill getFunct(duration) getFunct(timing);

    .header__address:hover &,
    .header__address:focus & {
      fill: getColor(main-theme);
    }
  }
}

@media (min-width: $desktop) {
  .header__list {
    display: flex;

    &--address {
      margin-left: auto;
    }
  }

  .header__item-address:not(:last-child) {
    margin-right: 30px;
  }

  .header__address {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
