.hero {
  letter-spacing: 0.06em;
  text-align: center;

  background-color: getColor(main-back);

  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}

.hero__overlay {
  max-width: 1600px;
  height: 400px;
  background-image: linear-gradient(to right, getColor(overlay-back), getColor(overlay-back)),
    url(../images/back-hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__slogan {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;

  color: getColor(third-text);

  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: $desktop) {
  .hero__overlay {
    height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero__slogan {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  min-width: 200px;
  min-height: 50px;
  padding: 10px, 32px;
  border-radius: 4px;

  border-color: transparent;
  color: getColor(third-text);
  background-color: getColor(main-theme);

  transition: background-color getFunct(duration) getFunct(timing);

  &:hover,
  &:focus {
    background-color: getColor(hero-button);
  }
}
