.icon {
  font-family: getFont('second');
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  width: 145px;

  &--center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon__theme {
  color: getColor(main-theme);
}
