.mobile-menu {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;

  padding: 48px 40px;

  min-width: 100%;
  min-height: 100%;

  background-color: getColor(third-text);

  transition: background-color getFunct(duration) getFunct(timing);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.mobile-menu__list {
  display: inline-block;

  &--address {
    margin-top: 306px;
  }

  &--social {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }
}

.mobile-menu__item-nav:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item-address:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item-social {
  position: relative;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.mobile-menu__line {
  width: 1px;
  height: 22px;
  background-color: getColor(form-border);
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: getColor(main-text);

  transition: color getFunct(duration) getFunct(timing);

  &:hover,
  &:focus {
    color: getColor(main-theme);
  }

  &--selected {
    color: getColor(main-theme);
  }
}

.mobile-menu__address {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: getColor(secondary-text);

  transition: color getFunct(duration) getFunct(timing);

  &:hover,
  &:focus {
    color: getColor(main-theme);
  }
}

.mobile-menu__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: getColor(main-theme);
}
